{#
    Aspect Ratio component - shadcn/ui port

    Usage:
        <AspectRatio ratio="{{ 16/9 }}">
            <img src="/photo.jpg" class="object-cover w-full h-full" />
        </AspectRatio>
        <AspectRatio ratio="1">
            <img src="/avatar.jpg" class="object-cover w-full h-full rounded" />
        </AspectRatio>

    Parameters:
        ratio     - Aspect ratio value (default: 16/9)
        className - Additional CSS classes
#}
{%- set ratio = ratio|default(16/9) -%}

<div style="padding-bottom: {{ (1 / ratio * 100)|round(4) }}%;" {{ html_attrs({class: 'relative w-full'}, exclude=['ratio']) }}>
    <div class="absolute inset-0">
        {%- block content %}{% endblock -%}
    </div>
</div>
