{#
    Aspect Ratio component - shadcn/ui port

    Usage:
        <AspectRatio ratio="{{ 16/9 }}" content='<img src="/photo.jpg" class="object-cover w-full h-full" />' />
        <AspectRatio ratio="1" content='<img src="/avatar.jpg" class="object-cover w-full h-full rounded" />' />

    Parameters:
        ratio   - Aspect ratio value (default: 16/9)
        content - Inner HTML content
        class   - Additional CSS classes
#}
{%- set ratio = ratio|default(16/9) -%}

<div class="relative w-full {{ class|default('') }}" style="padding-bottom: {{ (1 / ratio * 100)|round(4) }}%;" {{ html_attrs(exclude=['content']) }}>
    <div class="absolute inset-0">
        {{- content|default('')|raw -}}
    </div>
</div>
