{#
    Card Content component - shadcn/ui port

    Usage:
        <CardContent>
            <p>Your content here.</p>
        </CardContent>

    Parameters:
        className - Additional CSS classes
#}
<div data-slot="card-content" {{ html_attrs({class: 'px-4 group-data-[size=sm]/card:px-3'}) }}>
    {%- block content %}{% endblock -%}
</div>
