{#
    Dropdown Menu Label - shadcn/ui port

    Usage:
        <DropdownMenuLabel content="My Account" />

    Parameters:
        content   - Label text
        className - Additional CSS classes
#}
<div {{ html_attrs({class: 'px-2 py-1.5 text-sm font-semibold'}, exclude=['content']) }}>
    {{- content|default('')|raw -}}
</div>
