{#
    Dropdown Menu Label - shadcn/ui port

    Usage:
        <DropdownMenuLabel>My Account</DropdownMenuLabel>

    Parameters:
        className - Additional CSS classes
#}
<div {{ html_attrs({class: 'px-2 py-1.5 text-sm font-semibold'}) }}>
    {%- block content %}{% endblock -%}
</div>
