{#
    Skeleton component - shadcn/ui port

    Usage:
        <Skeleton className="h-4 w-[250px]" />
        <Skeleton className="h-12 w-12 rounded-full" />

    Parameters:
        className - CSS classes for width/height (required, e.g. 'h-4 w-[250px]')
#}
<div {{ html_attrs({class: 'animate-pulse rounded-md bg-primary/10'}) }}></div>
