{#
    Table Cell component - shadcn/ui port

    Usage:
        <TableCell content="$250.00" />
        <TableCell content="Paid" class="font-medium" />

    Parameters:
        content - Cell content
        className - Additional CSS classes
#}
<td {{ html_attrs({class: 'p-2 align-middle [&:has([role=checkbox])]:pr-0 [&>[role=checkbox]]:translate-y-[2px]'}, exclude=['content']) }}>
    {{- content|default('')|raw -}}
</td>
