{#
    Table Cell component - shadcn/ui port

    Usage:
        <TableCell>$250.00</TableCell>
        <TableCell className="font-medium">Paid</TableCell>

    Parameters:
        className - Additional CSS classes
#}
<td {{ html_attrs({class: 'p-2 align-middle [&:has([role=checkbox])]:pr-0 [&>[role=checkbox]]:translate-y-[2px]'}) }}>
    {%- block content %}{% endblock -%}
</td>
