{#
    Tabs Content panel - shadcn/ui port (Alpine.js)
    Must be used inside a tabs.html.twig wrapper.

    Usage:
        <TabsContent value="account">
            <p>Account content here.</p>
        </TabsContent>

    Parameters:
        value - Tab value this panel corresponds to
        class - Additional CSS classes
#}
<div
    x-show="tab === '{{ value }}'"
    x-cloak
    role="tabpanel"
    class="mt-2 ring-offset-background focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 {{ class|default('') }}"
>
    {%- block content %}{% endblock -%}
</div>
